.content {
    margin-top: 10px;

}

#my-code-wrapper {
      width:350px;
      height:250px;
      position:relative; /* Position must be: relative, absolute or fixed */
      background: #272822;
      caret-color: white;
}

.card-down {
      margin-top: 10%;
}

.card-down-little {
      margin-top: 5%;
}

body {
      background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.inline {
      display: inline !important;
}