{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row card-down">
    <div class="col-md-4 offset-md-4 ">
    <div class="card ">
    <div class="card-body">
      <h2 class="text-center">Login</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        {% endbuttons %}
      </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}