{% load staticfiles %}
{% load bootstrap4 %}
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'pycolos.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'prism.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'codeflask.css' %}" type="text/css" />
    <title>PyColos</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">PyColos</a>
        </div>
      </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'prism.js' %}"></script>
  <script src="{% static 'codeflask.js' %}"></script>
  <script>
      var flask = new CodeFlask;
      flask.run('#my-code-wrapper', { language: 'python', lineNumbers: false });
  </script>
</body>
</html>