{% extends 'base.html' %}

{% block content %}
    <div class="row text-center card-down">
    <div class="col-md-5 card align-self-center card-block ">
      <div class="card-body">
          <h4 class="card-title">Stwórz użytkownika</h4>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-info">Stwórz</button>
        </form>
    </div>
    </div>
    <div class="col-md-5 offset-md-2 card align-self-center ">
        <div class="card-body">
        <h4 class="card-title">Załaduj plik z danymi z USOS</h4>
        <br>
        <br>
        <br>
{#        <form method="post" action="usos_users" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <div class="col-md-10 offset-md-1">#}
{#            <label class="custom-file">#}
{#            <input type="file" name="file" class="custom-file-input">#}
{#            <span class="custom-file-control"></span>#}
{#            </label>#}
{#            </div>#}
{#            </br>#}
{#            </br>#}
{#            <button type="submit" class="btn btn-info">Prześlij</button>#}
{#        </form>#}
            <form method="post" action="usos_users" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form_usos %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-info">Prześlij</button>
        </form>
    </div>
    </div>
    </div>

{% endblock %}