{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Kolejność pytań</h3>
                <p class="card-text">Wybierz w jakiej kolejności powinny pojawiać się pytania.</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="order" id="option1" value="easy" autocomplete="off" checked> Od najłatwiejszego
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="order" id="option2" value="hard" autocomplete="off"> Od najtrudniejszego
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Dostępne testy</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nazwa testu</th>
                            <th scope="col">Początek</th>
                            <th scope="col">Czas trwania</th>
                            {% if user.is_staff %}
                            <th scope="col">Odpowiedzi</th>
                            <th scope="col">Pytania</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for test in tests %}
                        <tr class="clickable-row" data-href="/show_test/{{ test.id }}" style="cursor: pointer">
                            <td>{{ test.name }}</td>
                            {% if test.available_from %}
                                <td>{{ test.available_from }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if test.available_for_x_minutes %}
                                <td>{{ test.available_for_x_minutes }} min.</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}

                            {% if user.is_staff %}
                                <th scope="col">
                                    <a href="/download_answers/{{ test.id }}" style="text-decoration: none;">
                                        <i class="icon-download"></i>
                                    </a>
                                </th>
                                <th scope="col">
                                    <a href="/download_questions/{{ test.id }}" style="text-decoration: none;">
                                        <i class="icon-download"></i>
                                    </a>
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Zasady i Wskazówki</h3>
                <div class="card-text">
                    <p><i class="icon-circle-blank"></i> Możesz wybrać, czy pytania powinny zaczynać się od najłatwiejszych, czy od najtrudniejszych</p>
                    <p><i class="icon-circle-blank"></i> W obrębie poziomów trudności, kolejność pytań jest losowa</p>
                    <p><i class="icon-circle-blank"></i> <b>NIE</b> ma możliwości powrotu do poprzedniego pytania bez ingerencji prowadzącego</p>
                    <p><i class="icon-circle-blank"></i> Po upływie czasu przeznaczonego na test, nie będziesz mógł rozpocząć kolejnego zadania</p>
                </div>
            </div>
        </div>
    <br>
    <script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            var order = $('input[name=order]:checked').val();
            window.location = $(this).data("href") + "?order=" + order;
        });
    });
    </script>
{% endblock %}