{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
    <div class="col-md-3 align-self-center">
        <h3>Pytanie {{ progress.index }}</h3>
    </div>
    <div class="col-md-5 align-self-center">
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{progress.progress}}%">{{ progress.index }} z {{ progress.count }}</div>
        </div>
    </div>
    <div class="col-md-4 align-self-center">
        <div id="countdown"></div>
    </div>
    </div>
    <p>{{ question.formatted_markdown | safe }}</p>
    <form method="post">
        {% csrf_token %}
        {% if question.type == 'O' %}
        <div id="my-code-wrapper" data-language="python" name="answer"></div>
        {% else %}
        {% for a in question.answer_set.all %}
            <div class="form-check">
                <input class="form-check-input" name="answer" type="checkbox" id="answer{{ a.id }}" value="{{ a.answer_text }}">
                <label class="form-check-label" name="answer" for="answer{{ a.id }}">{{ a.answer_text }}</label>
            </div>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-success">Następne pytanie</button>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'countdown.js' %}"></script>
    <script type="text/javascript">
      $('#countdown').countdown('{{ test_end|date:"Y/m/d H:i:s" }}', function(event) {
        $(this).html(event.strftime('Do końca czasu pozostało %H:%M:%S'));
      });
    </script>
{% endblock %}